html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
  background-color: #F2F0EC;
}

a {
  color: rgb(38, 76, 89);
}

header {
  background-color: #3F2305;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

header h1 {
  color: white;
  padding: 1em;
  margin: 0;
  font-size: 20px;
}

.intro-section {
  background-image: url('img/rm263-adj-27.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 14em;
  max-width: 100%; /* Adjust as needed */
  margin: 0 auto;
  text-align: center;
}

.intro-section h1 {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.intro-section p {
  font-size: 1.5em;
}

.arrow-down {
  font-size: 2em;
  margin-top: 1em;
  background: none;
  border: none;
  cursor: pointer;
}

/* Scroll to top button styles */
.to-top {
  background-color: #3F2305;
  color: white;
  font-size: 32px;
  position: fixed;
  bottom: 16px;
  right: 32px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}


p {
  line-height: 1.7em;
  font-weight: 200;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
  padding: 2em;
}

.grid-item {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  background-color: #f1f1f1;
  transition: 0.5s;
  animation: fadeIn 0.5s;
  border-radius: 10px;
}

.grid-item:hover {
  transform: scale(1.03);
}

.grid-item img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

footer {
  background-color: #3F2305;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}

footer h1 {
  color: white;
  padding: 2em;
  margin: 0;
  font-size: 32px;
  text-align: center;
}

